@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');

.App {
  text-align: center;
  font-family:Verdana, Geneva, Tahoma, sans-serif
}

.main{
  background-image: linear-gradient(to right, #D1439E , #54276F,  #1DA5BE);
  min-height: 85vh;
  align-items: center;
  color: white; 
}

.barOfNavigation {
  position: sticky;
  width: 100%;
  z-index: 1;
  top: 0;
}

#nav-logo {
  padding-left: 10px;
}

.logotype {
  font-family: 'Rock Salt', cursive;
  margin-left: 20px;
  margin-right: 20px;
}

.card {
  padding: 1rem; 
  margin: 1rem;
  border-radius: 1rem;
  box-shadow: 5px 6px 6px 2px #e9ecef;
  text-align: center;
  font-family:Verdana, Geneva, Tahoma, sans-serif
}

@media (max-width: 768px) {
  .card {
    margin: 1.5rem;
  }
}

.page-title {
  font-family: 'Rock Salt', cursive;
  padding-top: 10px;
  padding-bottom: 10px;
}

.jumbotron {
  justify-content: center;
  color: white; 
  height: 250px; 
  align-items: center;
  display: inline-block;
}

.middle-home-page {
  text-align: center;
  justify-content: center;
  align-items: center;
  padding-bottom: 30px;
  color: white; 
  min-height: 200px;
  display: inline-block;
}

#home-picture {
  display: inline-block;
}

.header-home {
  font-family: 'Rock Salt', cursive;
  margin-bottom: 10px;
  margin-top: 20px;
}

.text-home {
  display: flex;
  height: 100%; 
  flex-direction: column; 
  justify-content: center; 
  align-items:flex-start; 
  text-align: justify;
  text-justify: inter-word;
  padding: 20px 10px 10px 20px; 
  max-width: 100%;
}

.featured-films-section { 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-bottom: 30px;
}

.developer-picks {
  display: flex; 
  align-items: center;
  justify-content: center;
}

#poster-image {
  display: inline-block;
}

.search-container {
  align-items: center;
  padding-bottom: 30px;
  color: white; 
}

.form-select{
  width:200px; 
  display:inline;
  text-align: center;
}

a:link {
  color: #1DA5BE;
}

a:visited {
  color: #1DA5BE;
}

a:hover {
  color: #D1439E;
}

.profile-container {
  font-family: 'Rock Salt', cursive;
  padding-top: 20px;
}

.footer {
  font-family: 'Rock Salt', cursive;
  background-color:  #54276F;
  color: white; 
  font-size: 14px;
  padding: 20px 0px 5px 0px; 
}

.logout {
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  float: right; 
  padding-right: 30px;
}

p { margin:0 }