@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');

.App {
  text-align: center;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.main{
  min-height: 85vh;
  position: relative;
}

.logotype {
  font-family: 'Rock Salt', cursive;
  margin-left: 20px;
  margin-right: 20px;
}

.card {
  display:flex; 
  padding: 1rem; 
  margin: 1rem;
  border-radius: 1rem;
  box-shadow: 5px 6px 6px 2px #e9ecef;
  text-align: center;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

@media (max-width: 768px) {
  .card {
    margin: 1.5rem;
  }
}

.page-title {
  font-family: 'Rock Salt', cursive;
}

.jumbotron {
  display: flex;
  justify-content: center;
  background-image: linear-gradient(to right, #D1439E , #54276F,  #1DA5BE);
  color: white; 
  height: 300px; 
  align-items: center;
}

.middle-home-page {
  display: flex;
  justify-content: center;
  background-image: linear-gradient(to right, #D1439E , #54276F,  #1DA5BE);
  align-items: center;
  padding-bottom: 30px;
  color: white; 
}

.header-home {
  font-family: 'Rock Salt', cursive;
  margin-bottom: -20px;
  margin-top: 30px;
}

.text-home {
  display: flex;
  height: 100%; 
  flex-direction: column; 
  justify-content: center; 
  align-items:flex-start; 
  text-align: justify;
  text-justify: inter-word;
  padding: 0px 10px 10px 20px; 
}

.search-container {
  background-image: linear-gradient(to right, #D1439E , #54276F, #78b1bb);
  align-items: center;
  padding-bottom: 30px;
  color: white; 
}

a:link {
  color: #1DA5BE;
}

a:visited {
  color: #1DA5BE;
}

a:hover {
  color: #D1439E;
}

.profile-container {
  background-image: linear-gradient(to right, #D1439E , #54276F, #78b1bb);
  align-items: center;
  color: white; 
}

.footer {
  background-image: linear-gradient(to right, #D1439E , #54276F, #78b1bb);
  align-items: center;
  color: white; 
}