@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');

.App {
  text-align: center;
}

.main{
  min-height: 85vh;
}

.logotype {
  font-family: 'Rock Salt', cursive;
  margin-left: 20px;
  margin-right: 20px;
}
