@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');

.App {
  text-align: center;
  font-family:'Franklin-Gothic-Medium', Arial, sans-serif;
}

.main{
  background-image: linear-gradient(to right, #D1439E , #54276F,  #1DA5BE);
  min-height: 85vh;
  align-items: center;
  color: white; 
}

.logotype {
  font-family: 'Rock Salt', cursive;
  margin-left: 20px;
  margin-right: 20px;
}

.card {
  padding: 1rem; 
  margin: 1rem;
  border-radius: 1rem;
  box-shadow: 5px 6px 6px 2px #e9ecef;
  text-align: center;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

@media (max-width: 768px) {
  .card {
    margin: 1.5rem;
  }
}

.page-title {
  font-family: 'Rock Salt', cursive;
  padding-top: 10px;
  padding-bottom: 10px;
}

.jumbotron {
  justify-content: center;
  background-image: linear-gradient(to right, #D1439E , #54276F,  #1DA5BE);
  color: white; 
  height: 250px; 
  align-items: center;
}

.middle-home-page {
  justify-content: space-between;
  background-image: linear-gradient(to right, #D1439E , #54276F,  #1DA5BE);
  align-items: center;
  padding-bottom: 30px;
  color: white; 
  min-height: 200px;
}

.header-home {
  font-family: 'Rock Salt', cursive;
  margin-bottom: 10px;
  margin-top: 20px;
}

.text-home {
  display: flex;
  height: 100%; 
  flex-direction: column; 
  justify-content: center; 
  align-items:flex-start; 
  text-align: justify;
  text-justify: inter-word;
  padding: 20px 10px 10px 20px; 
  max-width: 100%;
}

.featured-films-section { 
  align-items: center;
  justify-content: center;
  text-align: center;
}

.search-container {
  align-items: center;
  padding-bottom: 30px;
  color: white; 
}

a:link {
  color: #1DA5BE;
}

a:visited {
  color: #1DA5BE;
}

a:hover {
  color: #D1439E;
}

.profile-container {
  font-family: 'Rock Salt', cursive;
  padding-top: 20px;
}

.footer {
  font-family: 'Rock Salt', cursive;
  background-color:  #54276F;
  color: white; 
  font-size: 14px;
  padding: 20px 0px 5px 0px; 
}

.logout {
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 16px;
  float: right; 
  padding-right: 30px;
}

p { margin:0 }